:root {
    --color-first: #fff;
    --color-second: #c8f9f9;
    --color-third: #2a91a3;
    --color-fourth: #8956c7;
    --color-fifth: #4924a3;
    --color-sixth: #8c998b;
  }
  
  body {
    font-family: "Roboto Mono", monospace;
    background: linear-gradient(
        178.98deg,
        #2751ba 4.36%,
        rgba(98, 127, 199, 0.68882) 50.43%,
        rgba(229, 229, 229, 0) 98.49%
      ),
      #2a91a3;
    display: flex;
    background-repeat: no-repeat;
    height: calc(var(--vh, 1vh) * 95);
    min-width: 320px;
  }
  
  .container {
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
      justify-content: center;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
    font-weight: 400;
    text-align: center;
  }

  .separate-area {
    background-color: var(--color-second);
    box-shadow: 5px 7px 5px var(--color-fifth);
    border-radius: 9px;
  }
  
  .separate-area.converterarea {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 4% 0px;
  }
  
  .units-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  .column-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .converterarea .convertericon::after {
    display: block;
    content: "\21C4";
    font-size: xx-large;
    color: var(--color-fifth);
  }
  
  .input-text {
    height: 40px;
    width: 160px;
    margin: 10px;
    border-radius: 5px;
    border: 3px solid var(--color-fourth);
    text-align: center;
  }
  
  .input-text:focus,
  .input-text:focus-visible {
    outline-color: var(--color-fifth);
    border: 3px solid var(--color-fifth);
  }
  
  .input-label {
    color: var(--color-sixth);
  }
  
  .separate-area.-converteroptions {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    flex-wrap: wrap;
  }
  
  .main-button {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background: var(--color-fourth);
    color: var(--color-first);
    border: none;
    cursor: pointer;
    font-size: large;
  }
  
  .main-button:hover {
    background-color: var(--color-fifth);
  }
  .hidden-button:checked + .main-button {
    background-color: var(--color-fifth);
  }
  
  .hidden-button {
    display: none;
  }
  
  /* Mobile */
  @media (max-width: 500px) {
      .container {
          height: 100%;
          width: 100%;
      }
      .units-wrapper {
          flex-direction: column;
      }
  }