.anime-item {
  flex-basis: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
}

.anime-item p {
  margin-top: 1rem;
  font-family: sans-serif;
  color: white;
} 
