.moldura-cover {
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0 , 0, 0.3);
    border-radius: 5px;
}

.moldura-cover button {
    border: none;
    background-color: transparent;
    color: white;
    text-shadow: 1px 1px black;
}

.moldura-cover button:hover {
    filter: brightness(150%);
}